<!DOCTYPE html>
<html>

<head>
  <title>day 26 homework/angularday 1</title>
  <link rel="stylesheet" href="styles/main.css">
  <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
  <script type="text/javascript" src="scripts/app.js"></script>
  <script type="text/javascript" src="scripts/controllers/myControllers.js"></script>

</head>

<body ng-app="app" background="images/anfield.jpg">

  <button ng-controller="buttonController" ng-click="onClick()" ng-bind="buttonText" ng-disabled="disableButton"> </button>
  </br>
  <div ng-controller="tabController">
    <div ng-class="{selected: deleted}" ng-model="selected" ng-click="onClick(1)" class="tab"> Tab 1 </div>
    <div ng-click="onClick(2)" class="tab"> Tab 2 </div>
    <div ng-click="onClick(3)" class="tab"> Tab 3 </div>
    <p ng-show="show1"> This is the contents of the first tab. </p>
    <p ng-show="show2"> This is the contents of the second tab. </p>
    <p ng-show="show3"> This is the contents of the third tab. </p>
  </div>

  <button ng-controller="likeButtonController" ng-click="onClick()" ng-model="count"> {{count}} {{like}} </button>


</body>

</html>
